body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(10, 34, 44);
    display: flex;
    height: 100px;
    align-items: center;
    padding: 0px 160px;
}

main {
    background-color: rgb(7, 24, 32);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 0px 160px;
}

footer {
    background-color: rgb(10, 34, 44);
    height: 200px;
    display: flex;
    padding: 0px 160px;
}

.Fotogram_Logo {
    height: 50px;
}

.headline {
    color: white;
}



.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.single_elements img {
    width: 200px;
    height: auto;
    border-width: 5px;
}