body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgb(10, 34, 44);
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0px 160px;
}

main {
    background-color: rgb(7, 24, 32);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 0px 160px;
}

footer {
    background-color: rgb(10, 34, 44);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px;
}

.Fotogram_Logo {
    height: 50px;
}

.headline {
    color: white;
}



.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.single_elements img {
    width: 200px;
    height: 200px;
    border-width: 5px;
    object-fit: cover;
    border-radius: 10px;
}

.single_elements img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.DialogNavigation {
    height: 30px;
    object-fit: cover;

}

.PhotoView {
    padding: 0;
    border: 0;
    background-color: rgb(19, 74, 100);
    /* max-height: 70%; */
    width: 70%;

    border-radius: 20px;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.PhotoView::backdrop {
    opacity: 0.8;
    background-color: rgb(10, 34, 44);
    transition: all 500ms ease-in;
}

.SinglePicView img {
    object-fit: scale-down;
    padding: 100px;
    width: 50%;
    max-height: 50vh;
    border-radius: 20px;
}
.SinglePicView {
    display: flex;
    justify-content: center;
}

/* .SingleView {
    display: flex;
    flex: 1;


}
 */













@media(max-width:1280px) {
    html {
        font-size: 20px;
    }

    header {
        align-items: center;
    }

    header,
    main,
    footer {
        padding-left: 24px;
        padding-right: 24px;
    }

}

@media(max-width:767px) {
    html {
        font-size: 16px;
    }

    header {
        height: 64px;
    }

    header,
    main,
    footer {
        padding-left: 16px;
        padding-right: 16px;
    }

    footer {
        height: 64px;
    }

}