@font-face {
    font-family: Oswald;
    src: url(Oswald/static/Oswald-Regular.ttf);
}

html {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
    transition: all 300ms ease-in-out;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 34, 44);
    height: 100px;
    padding: 0px 160px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: rgb(7, 24, 32);
    padding: 0 160px;
    padding-bottom: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 34, 44);
    height: 100px;
    gap: 20px;
    padding: 0px 160px;
}

p {
    margin: 0;
}

.Fotogram_Logo {
    height: 50px;
}

.headline {
    color: white;
    padding: 50px;
    margin: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.single_elements img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-width: 5px;
    border-radius: 10px;
}

.single_elements img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.DialogNavigation {
    object-fit: cover;
    cursor: pointer;
    height: 30px;
    padding: 0px 20px;
}

.DialogPicName {
    padding: 0 20px;
    margin: 0;
}

.PhotoView:focus-visible {
    outline: -webkit-focus-ring-color none;
}

.PhotoView {
    user-select: auto;
    padding: 0;
    border: 0;
    background-color: rgb(19, 74, 100);
    border-radius: 20px;
    transition: all 300ms ease-in;
    height: 70vh;
    width: 50vw;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.PhotoView::backdrop {
    opacity: 0.8;
    background-color: rgb(10, 34, 44);
    transition: all 300ms ease-in;
}

.DialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0px;
    border-bottom: 2px solid rgb(7, 24, 32);
    color: white;
}

.DialogFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0px;
    border-top: 2px solid rgb(7, 24, 32);
    color: white;
}

.DialogMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.SinglePicView {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex: 1;
}

#SingleView {
    display: flex;
    flex: 1;
    padding: 40px;
    height: -webkit-fill-available;
}

.PicFromEditor {
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.CreatedBy {
    color: white;
}

@media(max-width:1280px) {
    html {
        font-size: 20px;
    }

    header {
        align-items: center;
    }

    header,
    main,
    footer {
        padding-left: 24px;
        padding-right: 24px;
    }

    .headline {
        padding: 30px;
    }

    .Fotogram_Logo {
        height: 40px;
    }

    #SingleView {
        padding: 20px;
    }

    .DialogHeader,
    .DialogFooter {
        padding: 10px 0px;
    }

    .DialogPicName {
        padding: 8px 10px;
    }

    .DialogNavigation {
        height: 22px;
        padding: 0px 10px;
    }

    .single_elements img {
        width: 150px;
        height: 150px;
    }

    .PicFromEditor {
        height: 50px;
    }
}

@media(max-width:767px) {
    html {
        font-size: 12px;
    }

    header {
        height: 64px;
    }

    header,
    main,
    footer {
        padding-left: 16px;
        padding-right: 16px;
    }

    .headline {
        font-size: 22px;
        text-align: center;
        padding: 15px;
    }

    .Fotogram_Logo {
        height: 25px;
    }

    footer {
        height: 64px;
    }

    #SingleView {
        padding: 8px;
    }

    .DialogPicName {
        font-size: 12.5px;

    }

    .PhotoView {
        height: 40vh;
    }

    .DialogHeader,
    .DialogFooter {
        padding: 8px 0px;
    }

    .DialogNavigation {
        height: 14px;
        padding: 0px 5px;
    }

    .single_elements img {
        width: 100px;
        height: 100px;
    }

    .PicFromEditor {
        height: 40px;
    }
}