body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgb(10, 34, 44);
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0px 160px;
}

main {
    background-color: rgb(7, 24, 32);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 0 160px;
    padding-bottom: 50px;
}

footer {
    background-color: rgb(10, 34, 44);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 160px;
}

.Fotogram_Logo {
    height: 50px;
}

.headline {
    color: white;
    padding: 50px;
}



.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.single_elements img {
    width: 200px;
    height: 200px;
    border-width: 5px;
    object-fit: cover;
    border-radius: 10px;
}

.single_elements img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.DialogNavigation {
    height: 30px;
    object-fit: cover;
    cursor: pointer;
    padding: 0px 20px;
}

.DialogPicName {
    padding: 0 20px;
}

.PhotoView:focus-visible {
    outline: -webkit-focus-ring-color none;
}

.PhotoView {
    padding: 0;
    border: 0;
    background-color: rgb(19, 74, 100);
    border-radius: 20px;
    user-select: auto;
    transition: all 300ms ease-in;
    height: 70vh;
    width: 50vw;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.PhotoView::backdrop {
    opacity: 0.8;
    background-color: rgb(10, 34, 44);
    transition: all 300ms ease-in;
}

.DialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(7, 24, 32);
    color: white;
}

.DialogFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 2px solid rgb(7, 24, 32);
    color: white;
}

.DialogMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.SinglePicView {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex: 1;
}

#SingleView {
    display: flex;
    flex: 1;
    padding: 40px;
    height: -webkit-fill-available;
}












@media(max-width:1280px) {
    html {
        font-size: 20px;
    }

    header {
        align-items: center;
    }

    header,
    main,
    footer {
        padding-left: 24px;
        padding-right: 24px;
    }

    .SinglePicView img {
        padding: 20px;
    }

}

@media(max-width:767px) {
    html {
        font-size: 16px;
    }

    header {
        height: 64px;
    }

    header,
    main,
    footer {
        padding-left: 16px;
        padding-right: 16px;
    }

    footer {
        height: 64px;
    }

    .SinglePicView img {
        padding: 8px;
    }
}