body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(10, 34, 44);
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0px 160px;
}

main {
    background-color: rgb(7, 24, 32);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 0px 160px;
}

footer {
    background-color: rgb(10, 34, 44);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px;
}

.Fotogram_Logo {
    height: 50px;
}

.headline {
    color: white;
}



.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.single_elements img {
    width: 200px;
    height: 200px;
    border-width: 5px;
    object-fit: cover;
}

.DialogNavigation {
    height: 30px;
    object-fit: cover;

}

.PhotoView {
    padding: 0px;
    border: 0px;
    background-color: rgb(7, 24, 32);
}

.PhotoView::backdrop {
    
}

.SinglePicView img {
    object-fit: scale-down;
    max-height: 50vh;
    padding: 100px;
}